<section class="header">
    <div class="container">
        <div class="header__icon">
            <img src="./images/favicon.ico" alt="icon Ice Cream" width="50px">
            <p class="header__text">Ice Cream</p>
        </div>
        <button type="button" class="header__menu">
            <svg width="20" height="12" aria-label="переключатель мобильного меню">
                <use class="header__icon--menu" href="#"></use>
                <use class="header__icon--close" href="#"></use>
            </svg>
        </button>
    </div>
    </div>

</section>